@media (width >= 440px) {
  .categories-container  {
    justify-content: center !important;
  }
}

.categories-container  {
  gap: 1rem;
  list-style: none;
  width: 100%;
}

.categories-btn {
  background-color: inherit;
  color: #E0E1DD;
  border: none;
}

.selected {
  font-weight: bold;
}
/* 
.selected::after{
  background: #0d6efd;
  border-radius: 1rem;
  content: '';
  display: block;
  height: 0.2rem;
  margin-top: -0.2rem;
} */