@media (width >= 440px) {
  .categories-container  {
    justify-content: center !important;
  }
}

.categories-container  {
  gap: 1rem;
  list-style: none;
  width: 100%;
}

.categories-btn {
  background-color: inherit;
  border: none;
  color: #E0E1DD;
}

.selected {
  font-weight: bold;
}
