.hero-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-section {
  width: 80%;
}

.loading-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the div take the full viewport height */
}