.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-section {
  width: 80%;
  justify-content: center;
}

hr {
  border: solid 1px black;
}