* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (width >= 768px) {
  .hero-card {
    width: 80%;
  }
}

@media (width < 768px) {
  .hero-card-body {
    margin-top: 2rem;
  }

  .hero-img {
    border-radius: 0 !important;
  }
}